{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <style>
        .gradient-custom-2 {
            /* fallback for old browsers */
            background: #fccb90;

            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, #A2EEF2, #7ACDDA, #51ACC2, #298AAA, #006992);

            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, #61b2b9, #7ACDDA, #51ACC2, #298AAA, #006992);
        }

        @media (min-width: 768px) {
            .gradient-form {
                height: 100vh !important;
            }
        }
        @media (min-width: 769px) {
            .gradient-custom-2 {
                border-top-right-radius: .3rem;
                border-bottom-right-radius: .3rem;
            }
        }
    </style>

    <section class="h-100 gradient-form" {#style="background-color: #eee;"#} style="background-image: url("{{ asset('assets/template/background-login.jpg') }}")">
    <div class="container py-5 h-50">
        <div class="row d-flex justify-content-center align-items-center h-50">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img src="{{ asset('assets/template/ancre_logo._460_square.png') }}" style="width: 100px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">Les Écrivains de marine</h4>
                                </div>

                                    <form method="post">
                                        {% if error %}
                                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                        {% endif %}

                                        {% if app.user %}
                                            <div class="mb-3">
                                                Vous êtes déjà connecté via {{ app.user.userIdentifier }}.
                                            </div>
                                        {% endif %}

                                        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
                                        <div class="form-outline mb-4">
                                            <label for="inputEmail">Email</label>
                                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <label for="inputPassword">Password</label>
                                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                                        </div>
                                        <input type="hidden" name="_csrf_token"
                                               value="{{ csrf_token('authenticate') }}"
                                        >

                                        {#
                                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                            See https://symfony.com/doc/current/security/remember_me.html

                                            <div class="checkbox mb-3">
                                                <label>
                                                    <input type="checkbox" name="_remember_me"> Remember me
                                                </label>
                                            </div>
                                        #}
                                        <div class="text-center pt-1 mb-5 pb-1">
                                            <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Connexion</button>
                                        </div>

                                    </form>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h3 class="mb-4">Interface administrateur</h3>
                                <p class="fw-medium mb-0">
                                    L'accès à cette page est strictement réservé aux membres de l'association Les Écrivains de marine disposant  d'un compte d'accès administrateur.
                                </p>
                                <p class="fw-medium mt-1">
                                    Si vous pensez avoir un compte mais que celui-ci ne vous permet pas de vous connecter, veuillez nous adresser une demande via les coordonnées disponibles dans la page Contact.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
