{% extends 'base.html.twig' %}

{% block title %}Les Écrivains{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            {% for ecrivain in ecrivains |sort((a, b) => a.name <=> b.name)%}
                {% if ecrivain.displayFirst==true %}
                    <div class="col-xl-6 col-lg-6 mb-4">
                        <a href="#ecrivain-modal-{{ ecrivain.id }}" data-bs-toggle="modal" data-bs-target="#ecrivain-modal-{{ ecrivain.id }}" style="text-decoration: none; color: black">
                            <div class="card" style="background-color: #e1f0f6">
                                <div class="card-body">
                                    <div class="row g-0">
                                        <div class="col-md-3 mt-1 mb-1">
                                            <div class="d-flex align-items-center">
                                                <img
                                                        src="{{ asset('uploads/profilepictures_directory/' ~ ecrivain.profilePicture) }}"
                                                        alt=""
                                                        style="width: 120px; height: 110px"
                                                        class="rounded-circle"
                                                />
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ ecrivain.firstname }} {{ ecrivain.name }}</h5>
                                                <p class="card-text"> {{ ecrivain.awards }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="ecrivain-modal-{{ ecrivain.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ecrivain-modal-{{ ecrivain.id }}" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Ecrivain</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container-fluid">
                                                <div class="justify-content-center">
                                                    <div class="col-xl-12 col-lg-12 mb-4 text-lg-center">
                                                        <img
                                                                src="{{ asset('uploads/profilepictures_directory/' ~ ecrivain.profilePicture) }}"
                                                                alt=""
                                                                style="width: 150px; height: 150px"
                                                                class="rounded-circle"
                                                        />
                                                        <div>
                                                            <h3 class="mt-4">{{ ecrivain.firstname }} {{ ecrivain.name }}</h3>
                                                            <p class="mt-4">{{ ecrivain.description | raw}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
            {% for ecrivain in ecrivains |sort((a, b) => a.name <=> b.name)%}
                {% if ecrivain.displayFirst==false %}
                    <div class="col-xl-6 col-lg-6 mb-4">
                        <a href="#ecrivain-modal-{{ ecrivain.id }}" data-bs-toggle="modal" data-bs-target="#ecrivain-modal-{{ ecrivain.id }}" style="text-decoration: none; color: black">
                            <div class="card" style="background-color: #e1f0f6">
                                <div class="card-body">
                                    <div class="row g-0">
                                        <div class="col-md-3 mt-1 mb-1">
                                            <div class="d-flex align-items-center">
                                                <img
                                                        src="{{ asset('uploads/profilepictures_directory/' ~ ecrivain.profilePicture) }}"
                                                        alt=""
                                                        style="width: 120px; height: 110px"
                                                        class="rounded-circle"
                                                />
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ ecrivain.firstname }} {{ ecrivain.name }}</h5>
                                                <p class="card-text"> {{ ecrivain.awards }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="ecrivain-modal-{{ ecrivain.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ecrivain-modal-{{ ecrivain.id }}" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Ecrivain</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container-fluid">
                                                <div class="justify-content-center">
                                                    <div class="col-xl-12 col-lg-12 mb-4 text-lg-center">
                                                        <img
                                                                src="{{ asset('uploads/profilepictures_directory/' ~ ecrivain.profilePicture) }}"
                                                                alt=""
                                                                style="width: 150px; height: 150px"
                                                                class="rounded-circle"
                                                        />
                                                        <div>
                                                            <h3 class="mt-4">{{ ecrivain.firstname }} {{ ecrivain.name }}</h3>
                                                            <p class="mt-4">{{ ecrivain.description | raw}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
